@charset "UTF-8";
.card {
  max-width: 286px;
}

.btn {
  pointer-events: auto;
}

.change-parent-style {
  pointer-events: none;
  transition: border-color 0.15s ease-in-out;
}
.change-parent-style:hover {
  border-color: #0069d9;
}

.change-element-style {
  pointer-events: none;
}
.change-element-style:hover .element {
  color: #28a745;
}

.btn-x {
  pointer-events: none;
  font-weight: 700;
  border: none;
  background-color: #e8e8e8;
  border-radius: 0.2rem;
  padding: 0.5em 0.8em;
  cursor: pointer;
}
.btn-x::after {
  content: "×";
  color: #dc3545;
  pointer-events: auto;
}
.btn-x:focus {
  box-shadow: rgba(0, 123, 255, 0.25) 0px 0px 0px 0.2rem;
  outline: 0;
}

.svg {
  pointer-events: visiblePainted;
  transition: fill 0.15s ease-in-out;
}
.svg:hover {
  fill: #fd7e14;
}